.contacts {
  display: flex;
  padding: 5px;
  width: 600px;
  color: #1e0097;
  border: 1px solid gray;
  margin-bottom: 2px;
}
.addBtn {
  padding: 2px;
  height: 22px;
  background-color: darkblue;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  color: aliceblue;
  margin-left: auto;
}
.contactName {
  width: 300px;
  margin-left: 20px;
  font-weight: 500;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contactNumber {
  margin-left: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contacts:hover,
.contacts:focus {
  border: 1px solid white;
}
.addBtn:hover,
.addBtn:focus {
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
}
