.contacts {
  display: flex;
  padding: 5px;
  width: 600px;
  color: #1e0097;
  border: 1px solid gray;
}
.addBtn {
  padding: 2px;
  background-color: darkblue;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
  color: aliceblue;
  margin-left: auto;
}
.contactName {
  width: 120px;
  margin-left: 20px;
  font-weight: 500;
  font-style: italic;
}

.contactNumber {
  margin-left: 80px;
}
