.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a0bff9;
  padding-bottom: 30px;

  height: 1200px;
}
h1 {
  display: flex;
  justify-content: center;
  color: darkblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  display: flex;
  justify-content: center;
  color: darkblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
